*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
    color: white;
}

html{
    font-family: 'Open Sans', sans-serif;;
}

#navbar{
    color: silver;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 0.75rem;
    height: 90px;
}

#navbar ul{
    list-style: none;
    display: flex;
    align-items: center;
}

#navbar ul li{
    padding: 0.5rem;
}

#navbar ul li:hover{
    background-color: red;
    border-radius: 4px;
}

#home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    border-bottom: 1px solid red;
}

#home img{
    max-width: 100%;
    height: auto;
    border-radius: 100%;
}

#home .name h2{
    margin-bottom: 0.75rem;
}

#home .name p{
    opacity: 0.6;
    font-style: italic;
}

#about{
    color: white;
    padding: 1rem;
}

#about .items{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#about .items .item{
    width: 50%;
    text-align: center;
    padding: 0.5rem;
}

#about .items .item:hover{
    color: silver;
}

#teams{
    color: #333;
    padding: 1rem;
}

.teams{
    display: flex;
    flex-direction: column;
    padding: 1rem;
}

.teams .team{
    display: flex;
    padding: 0.5rem;
    margin: 0.5rem;
}

.teams .team .team-image{
    margin-right: 0.5rem;
    position: relative;
}

.teams .team .team-image img{
    border-radius: 8px;
}

.teams .team .team-image span{
    background-color: red;
    padding: 0.4rem;
    color: #ffffff;
    border-radius: 5px;
    position: absolute;
    bottom: 0;
    left: 11rem;
}

.teams .team .team-info .title{
    letter-spacing: 1.2px;
    font-weight: 800;
    margin: 0.25rem;
    text-align: center;
}

.teams .team .team-info .description{
    margin: 0.4rem;
    opacity: 0.7;
}

.teams .team .team-info .mascot{
    margin: 0.4rem;
    opacity: 0.7;
    font-size: 0.8rem;
}

.form-group label{
    display: block;
}

#contact{
    color: silver;
    padding: 2rem;
}

#contact .contact-form{
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
}

#contact .contact-form ul{
    list-style-type: none;
    display: flex;
    margin-top: 1.5rem;
    align-self: center;
}

.contact-form ul li a{
    padding: 1rem;
    font-size: 2rem;
}

.contact-form ul li a:hover{
    opacity: 0.8;
}